body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .container {
    margin: 50px auto;
    max-width: 600px;
    padding: 20px;
    border: 2px solid #5b4c99;
    border-radius: 10px;
  }
  
  h1 {
    color: #333;
  }
  
  #question {
    margin: 20px 0;
    font-size: 24px;
  }
  
  #options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .option {
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #5a1919;
    border-radius: 5px;
    background-color: #5d1e1e;
  }
  
  #nextBtn {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  
